.App {
    max-width: 960px;
    margin: 0 auto;
}

.App-card {
    margin: 10px;
    background: #7ca37e;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    font-family: "Quicksand", sans-serif;
}

.App-header {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    background: #a7c68b;
    color: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.App-footer {
    text-align: center;
    font-size: 15px;
    margin: 10px;
    font-family: "Quicksand", sans-serif;
}

.App-footer a {
    color: #fd523b;
}
