.DictionaryMeaning h5 {
    color: #ff8777;
    font-style: italic;
    font-size: 22px;
    font-weight: 600;
    opacity: 90%;
    margin: 5px 0px 5px;
}

.DictionaryMeaning .DictionaryMeaning-definition {
    margin-top: 15px;
    font-weight: bold;
}

.DictionaryMeaning .DictionaryMeaning-example {
    margin: 5px 0px;
    font-size: 15px;
    opacity: 80%;
    font-style: italic;
}

.DictionaryMeaning .DictionaryMeaning-synonyms {
    display: inline-block;
    margin-top: 5px;
    padding-right: 15px;
    color: #fd523b;
}
