.DictionaryResults section {
    background: #fff;
    padding: 12px;
    margin: 10px 12px 8px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.DictionaryResults h2 {
    font-size: 35px;
    font-weight: bold;
}

.DictionaryResults h2:first-letter {
    text-transform: capitalize;
}
