/* .DictionaryPhotos section {
    background: #fff;
    margin: 10px 12px 8px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.DictionaryPhotos img {
    border-radius: 4px;
    margin: 5px;
    transition: all 200ms ease-in-out;
    max-width: 96%;
}

.DictionaryPhotos img:hover {
    scale: 1.1;
} */
