.DictionaryPhonetics {
    font-size: 18px;
}

.DictionaryPhonetics .DictionaryPhonetics-text {
    margin: 15px 0px;
    opacity: 90%;
}

.DictionaryPhonetics a {
    color: #fd523b;
    margin-left: 5px;
}

.DictionaryPhonetics a:hover {
    color: #fd523b;
}
